.yoyo{
    border:1px solid black ;
    width: 400px;
    height: 40px;
   position: sticky;
    left: 500px;
    text-align: center;
    padding: 10px; 
   font-size: 1.5em;
   background-color: #22a6b3;

    
}

  .even{
      width: 100vw;
      height: 100vh;
      /* border: 1px solid black; */
      display: flex;
      flex-wrap: wrap;
     /* justify-content: flex-end; */

}
.even > div {
  width: 300px;
  height: 179px;
  /* border: 2px solid black; */
   
}
.two{
  background-color:#FFC312 ;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
  
 
}
.three{
  background-color:#C4E538 ;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.four{
  background-color:#12CBC4 ;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.five{
  background-color:#FDA7DF ;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.six{
  background-color:#ED4C67 ;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.seven{
  background-color: #F79F1F;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.eight{
  background-color: #A3CB38;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.nine{
  background-color:#1289A7;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.ten{
  background-color: #D980FA;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.aa{
  background-color:#B53471;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.bb{
  background-color: #EE5A24;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.cc{
  background-color:#009432;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.dd{
  background-color: #0652DD;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.ee{
  background-color: #9980FA;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.ff{
  background-color:#833471;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.hh{
  background-color: #EA2027;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.ii{
  background-color: #006266;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.oo{
  background-color: #1B1464;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.nn{
  background-color: #5758BB;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.mm{
  background-color:#6F1E51;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.anas{
  font-size: 1.5em;
   margin-left: 50px; 
   margin-top:-10px; 
}